@font-face {
    font-family: Source Sans Pro;
    src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: Source Sans Pro Light;
    src: url("../fonts/SourceSansPro-Light.ttf");
}

body {}

.truncate {
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-normal {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tile
{
    background: #ecf0f1 !important;
}

.fixht {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }

.hide
{
    display:none !important;
}

.active
{
    display: block !important;
}

a.navbar-brand {
    min-height: 70px;
}

.navbar-default .navbar-nav>li {
    padding: 8px 0px;
    margin-top: 5px;
}

.navbar-default
{
    margin-bottom: 15px;
}

.navbar-default .navbar-nav>li a.btn {
    padding: 8px 21px;
    background: #003049;
    color: #fff;
}

.navbar-default .navbar-nav>li a.btn:hover,
.navbar-default .navbar-nav>li a.btn:focus {
    background: #002538;
    color: #fff;
}

.navbar-default .navbar-nav>li.dropdown>a {
    padding: 8px 21px;
}

.nav #submission-btn
{
    border: 1px solid #003049;
    padding: 6px 14px;
    vertical-align: middle;
    background: transparent;
    color: #34495e;
    font-size: 14px;
}

.blue {
    background: #2980b9 !important;
}

.orange {
    background: #e67e22 !important;
}

.green {
    background: #16a085 !important;
}

.dark {
    background: #2c3e50 !important;
}

.yellow {
    background: #f1a30f !important;
}

.purple
{
    background: #8e44ad !important;
}

.red
{
    background: #e55039 !important;
}

.tests {
    text-align: center;
    margin-top: 40px;
}

.tests .card {
    border-radius: 4px;
    background: #F77F00;
    padding: 15px;
}

.tests .card .card-body {
    color: #f7f7f7;
}

.tests .card .card-body h4 {
    font-size: 24px;
}

.tests .card .card-body p.desc {
    height: 100px;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}

.tests .card .card-body .extras .question {
    display:inline-block;
    text-align: left;
    width:50%;
    font-size: 14px;
    margin-bottom:10px;
}

.tests .card .card-body .extras .duration {
    display:inline-block;
    text-align: right;
    width:45%;
    font-size: 14px;
    margin-bottom:10px;
}

.tests .card .card-body .extras p i
{
    font-size: 85%;
    margin-right: 5px;
}

.tests .card .card-body hr {
    margin-top:0px;
    margin-bottom: 15px;
}

.tests .card .card-body .cta {
}

.tests .card .card-body .cta a.btn {
    background: #002538;
    color: #fff;
    
}

.main-content
{
    min-height: 600px;
}

footer
{
    background: #002538;
    color: #fff;
}

footer p
{
    margin: 15px 0;
}

.mypanel
{
    border-color: #B02930;
}

.mypanel .panel-heading
{
    color: #fff;
    background: #B02930;
}

.btn-danger
{
    background: #B02930;
}

.mypanel .form-control
{
    border-width: 1px;
    border-radius: 4px;
}

.btn-danger:hover,
.btn-danger:focus
{
    background: rgb(168, 21, 28);
}

#assessment .test-heading
{
    font-size: 24px;
    font-weight: 300;
}

#assessment .question-box
{
    background: #ecf0f1;
    border-radius: 4px;    
    padding: 25px;
}

#assessment .question-box .question{
}

/******** Question Markers ************/

.question-marker-section
{
    position: relative;
}

.question-marker-section #markers-desc-section
{

}

.question-marker-section #markers-desc-section .markers-desc .btn
{
    padding: 2px 10px;
}

.question-marker-section #markers-desc-section .markers-desc .text
{
    font-size:12px;
}

.question-marker-section h4
{
    font-size: 24px;
    font-weight: 300;
}

.markers-body
{
    background: #ecf0f1;
    margin:0 auto;
    height: 300px;
    padding: 20px 15px;
    border-radius: 4px;
}

.markers-body .markers-only
{
    height: 230px;
}

.markers-body a.marker
{
    padding: 4px 10px;
    font-weight: bold;
}

.marker
{
    border:none;
}

.marker.active-marker
{
    border: 2px solid #8c8c8c;
}

/************ Timer Start****************/

.timer-button
{
    background-image: -webkit-linear-gradient(top, #B02930, #B02930);
	background-image: linear-gradient(top, #B02930, #B02930);		
	-webkit-transition: all .1s linear;
    transition: all .1s linear;
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 4px 15px;
    width: 180px;
    font-size: 22px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -4px 3px rgba(0,0,0,0.35), inset 0px 10px 10px rgba(255,255,255,0.10);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -4px 3px rgba(0,0,0,0.35), inset 0px 10px 10px rgba(255,255,255,0.10);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -4px 3px rgba(0,0,0,0.35), inset 0px 10px 10px rgba(255,255,255,0.10);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -4px 3px rgba(0,0,0,0.35), inset 0px 10px 10px rgba(255,255,255,0.10);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -4px 3px rgba(0,0,0,0.35), inset 0px 10px 10px rgba(255,255,255,0.10);
    cursor: default;
}

.timer-button:hover,
.timer-button:focus
{
    color: #fff;
}

.timer-button i
{
    font-size: 80%;
}

.question
{
    
}

.question .text
{
    font-size: 18px;
    font-weight: bold;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.question .checkbox
{
    line-height: 1.5;
    background: #fff;
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: none;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.question .checkbox.checked
{
    background: #B02930;
    color: #fff;
    transition: none;
}

.question .checkbox .icons, .question .radio .icons
{
    display: none;
}

.question .btn-groups{
    margin:25px 0 5px 0;
}

.question .btn-groups .btn{
    margin-right: 10px;
}

.question .btn-groups .submit-answer
{
    background: rgba(8, 162, 71, .6);
}

.question .btn-groups .submit-answer.activeBtn{
    background: #08a247;
}

.question .btn-groups .reset
{
    background: darkgrey;
}

.end-test-section
{
    margin-top: 15px;
    background: #ecf0f1;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  

/************ Timer End *****************/

.answer-status
{
    margin-top: 5px;
    font-size: 14px;
    color: grey;
}